.album{
    height: 290px;
    width: 260px;
    cursor: pointer;
}

.album-cover{
    height: 75%;
    background-image: url(../no-picture.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.175rem 0.175rem 0 0;
}

.album-general-info{
    height: 25%;
    background-color: #FFFFFF;
}

.pic-container{
    justify-content: space-around;
}

.pic-list{
    height: 64px;
    background-color: black;
    justify-content: center;
}

.pic-in-list{
    height: 48px;
    width: 72px;
    background-color: #FFFFFF;
    margin: 4px;
}

.pic-in-list.chosen{
    border: 3px solid sandybrown;
}

.main-pic{
    height: 300px;
    width: 600px;
    background-color: black;
}

.editAlbum-container .vm--modal{
    inset: 0 !important;
    margin: auto;
}