.code-register-container{
    inset: 0;
    margin: auto;
    border-radius: 0.375rem;
    border: 1px solid #000;
    width: 500px;
    height: 450px;
}

.code-register-form-title{
    height: 56px;
    width: 300px;
    background-color: #f2f2f2;
    top: -28px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 22px;
    font-weight: bold;
}

.code-register-input{
    height: 56px;
    font-size: 18px;
}

.code-register-submit-button{
    position: absolute;
    height: 40px;
    width: 100px;
    bottom: 28px;
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
    display: flex;
    font-size: 18px;
    background-color: RGB(144, 238, 144);
}

.code-register-submit-button:hover{
    background-color: RGB(152, 251, 152);
}