.config-item{
    height: 32px;
    margin: 6px;
}

.config-menu{
    color: #FFFFFF;
}

.notchosenconfigmenu{
    background-color: #3A4B54;
}

.config-menu-item{
    height: 32px;
    margin: 6px !important;
}

.config-menu-item:hover{
    cursor: pointer;
}

.config-menu-item-expanded{
    margin-left: 32px;
}

.btn.rotated1, .btn.rotated2, .btn.rotated3, .btn.rotated4{
    transform: rotate(90deg);
    transition: transform 0.2s linear;
}

.config-menu-item-content{
    margin-top: 6px;
}

.config-menu-color-input{
    width: 36px !important;
    height: 24px !important;
    margin-left: 12px;
    border: none;
}

.config-menu-color-genderunknown-input{
    width: 100px !important;
    height: 24px !important;
    margin-left: 12px;
    border: none;
}

.config-menu-number-input{
    width: 76px !important;
    height: 24px !important;
}

.config-menu-checkbox-input{
    margin-right: 12px !important;
}

.label-color-input{
    position: absolute;
    left: 13px;
}

.topic{
    background-color: #3A4B54;
    padding: 6px;
}

.config-topic:hover{
    cursor: pointer;
}

.collapsed-config-sidebar{
    background-color: #3A4B54;
    /* position: absolute;
    right: 0;
    top: 0; */
    width: 48px;
    height: 100%;
}

.expandedConfigSidebar{
    width: 25%;
}