.event-screen{
    height: calc(100% - 50px);
    position: relative;
}

.event-screen .calendar{
    padding: 32px 15px 32px 60px;
    border-radius: 0.375rem;
    color: white;
}

.event-screen .event-list{
    padding: 32px 60px 32px 15px;
}

.event-screen .search-filter{
    height: 48px;
}

.event-screen .search-filter .item{
    margin-left: 8px;
    right: 0;
}

.event-screen .search-filter .search{
    flex-grow: 1;
}

.event-screen .button-list{
    height: 48px;
}

.event-screen .button-list .item{
    margin-left: 8px;
}

.event-screen .table td{
    text-align: center;
}

.event-screen .add-event-container .vm--container{
    width: 50%;
    height: 598px;
    inset: 0;
    margin: auto;
}

.event-screen .add-event-container .item{
    height: 36px;
}

.event-screen .event-modal-container .vm--container{
    height: 45%;
    width: 45%;
    inset: 0;
    margin: auto;
}

.event-screen .text-area{
    resize: none;
    outline: none;
    border-radius: 0.375rem;
}

.event-screen .text-area.description{
    background-color: #0000000f;
}

.event-screen .add-event-container .time-input{
    width: 120px;
    margin: 0 8px;
}

.event-screen .eventlist-list-th{
    background-color: #90CAF9 !important;
    text-align: center;
    vertical-align: middle;
    border: none;
}

.event-screen .participant-container .item{
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.event-screen .member-container .item{
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-bottom: 1px solid lightgray;
}

.cfevent-screen{
    background-image: url(../cfevent.jpg);
    background-size: cover;
}

.cfevent-screen .cfevent-container{
    height: 30%;
    width: 35%;
    inset: 0;
    margin: auto;
    border-radius: 0.2rem;
    background-color: #fff;
    position: absolute;
}

/* --------------------------------------- */
.event-grid-container{
    display: grid;
    padding: 30px 60px;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100% 0;
    background-color: #bf831526
}

.event-grid-container .event-calendar{
    background-color: rgb(242, 242, 242);
    padding: 12px;
    margin-right: 4px;
}

.event-grid-container .event-container{
    background-color: rgb(242, 242, 242);
    padding: 12px;
    margin-left: 4px;
}

.event-grid-container .add-event-container .vm--container{
    width: 55%;
    inset: 0;
    margin: auto;
}

.event-grid-container .add-event-body{
    display: grid;
    grid-template-rows: 8% 34% 8% 8% 8% 34%;
    height: 100%;
    padding: 8px;
}

.event-grid-container .participant-body{
    height: 100%;
}

.event-grid-container .participant-body .item, .event-grid-container .view-event-body .item{
    height: 8%;
    padding: 4px;
    font-size: 14px;
}

.event-grid-container .view-event-body{
    height: 100%;
}

.event-grid-container .view-member-container .vm--container{
    width: 45%;
    inset: 0;
    margin: auto;
}

.event-grid-container .view-member-body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.event-grid-container th{
    background-color: #90CAF9;
    text-align: center;
}

@media screen and (min-width: 1300px){
    .event-grid-container .participant-container .title{
        min-height: 42px !important;
    }
}

@media screen and (min-width: 1800px){
    .event-grid-container .participant-container .title{
        min-height: 54px !important;
    }
}