#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: Helvetica;
}

#tree {
  width: 100%;
  height: 100%;
}

svg.tommy .node.died.male rect {
  fill: gray;
}

div#tree {
  background-color: #f2f2f2;
}

svg.tommy .node {
  cursor: pointer;
}

svg.tommy .node.died.female rect {
  fill: gray;
}

form.bft-edit-form {
  display: none;
}

svg.tommy .node.great-grandfather.male rect {
  fill: rgb(255, 8, 0);
  height: 140px;
}

svg.tommy .node.choose.male rect {
  stroke: #EDF048;
  stroke-width: 5px;
}

svg.tommy .node.choose.female rect {
  stroke: #EDF048;
  stroke-width: 5px;
}

svg.tommy .node.notchoose.male rect {
  opacity: 0.5;
}

svg.tommy .node.notchoose.female rect {
  opacity: 0.5;
}

svg.tommy .node.male>rect {
  fill: #C69934;
  height: 125px;
}

svg.tommy .node.female>rect {
  fill: rgb(224, 89, 111);
  height: 125px;
}

.feature-overview {
  background-color: #A9A9A9;
  color: #fff;
}

.feature-overview:hover {
  background-color: #A9A9A9 !important;
  color: #fff !important;
}

.collapsedAddRelationship {
  height: 0;
  transition: 0.3s;
}

.collapsedAddRelationship.expandedAddRelationship {
  height: 165px;
}

.collapsedAddRelationship.expandedRelationship {
  height: 290px;
}