.history-screen .addHistory-container .vm--container{
    height: 376px !important;
    width: 1024px !important;
    inset: 0;
    margin: auto;
}

.history-screen .item{
    flex: 0 0 42px;
    background-color: #FFFFFF;
}

.history-screen .history-content-odd{
    width: 47%;
    position: absolute;
    left: 0;
}

.history-screen .history-content-even{
    width: 47%;
    position: absolute;
    right: 0;
}

.history-screen .history-start{
    top: 9px;
    left: 15px;
    font-size: 12px;
}

.history-screen .history-end{
    top: 9px;
    right: 15px;
    font-size: 12px;
}

/* ------------------------------------------------- */
.history-grid-container{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100% 0;
}

.history-grid-container .search{
    display: grid;
    grid-template-rows: 8% 8% 8% 8% 8% 60%;
}

.history-grid-container .content{
    background-color: rgb(242, 242, 242);
    position: relative;
}

.history-grid-container .history-start{
    top: 9px;
    left: 15px;
    font-size: 12px;
}

.history-grid-container .history-end{
    top: 9px;
    right: 15px;
    font-size: 12px;
}

.history-grid-container .add-history-container .vm--container{
    height: 100%;
    width: 60%;
    inset: 0;
    margin: auto;
}
