.sidebar-icons{
    background-color: #FFFFFF;
    width: 32px;
    height: 32px;
    border-radius: 0.375rem;
    padding: 2px;
}

.navbar-icon{
    background-color: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 0.375rem;
    padding: 2px;
}
.navbar-icon-sm{
    width: 24px;
    height: 24px;
    border-radius: 0.375rem;
    fill: #35495e;
}

.config-menu-icons{
    width: 24px;
    height: 24px;
    padding: 4px;
    margin-right: 6px;
}

.close-add-form-icon{
    width: 32px;
    height: 32px;
}

.config-sidebar-icon{
    background-color: #FFFFFF;
    width: 32px;
    height: 32px;
    padding: 2px;
    border-radius: 0.375rem;
}

.day-night-icon{
    background-color: #FFFFFF;
    width: 36px;
    height: 36px;
    padding: 2px;
    border-radius: 0.375rem;    
    fill: #35495e;
}

.user-icon{
    background-color: #FFFFFF;
    width: 36px;
    height: 36px;
    padding: 2px;
    border-radius: 50%;
    fill: #35495e;
}

.login-form-icon{
    width: 24px;
    height: 24px;
}

.noti-modal-member-ava{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.noti-send-icon{
    width: 24px;
    height: 24px;
}

.text-search-icon{
    width: 20px;
    height: 20px;
    fill: #9d9d9d;
}

.collapsed-relationship-icon{
    width: 20px;
    height: 20px;
    transform: rotate(90deg);
    transition: 0.5s;
}

.collapsed-relationship-icon.expanded{
    transform: rotate(-90deg);
}