.create-mail{
    height: 0;
    width: calc(100% - 8px);
    transition: 0.4s;
    bottom: 0;
    right: 0;
}

.create-mail.expanded{
    height: 92%;
    border-radius: 0.375rem 0 0 0;
    background-color: #FFFFFF;
    overflow-y: auto;
}

.create-mail-title{
    height: 42px;
    background-color: #f2f6fc;
}

.create-mail-close{
    right: 5px;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.create-mail-topic{
    height: 42px;
}

.mail-topic{
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
}

.create-mail-content{
    height: 100%;
    overflow-y: auto;
}

.create-mail-footer{
    height: 55px;
}

.mail-content-prev{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block !important;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 22px;
    width: 300px;
}

.sent-mail{
    height: 48px;
    background-color: #f2f6fc;
    border-radius: 0.375rem;
    margin: 0 8px;
    border-bottom: 1px solid lightgray;
}

.email-detail{
    height: 0;
    background-color: #FFFFFF;
    opacity: 0;
    transition: 0.4s;
}

.email-detail.expand{
    opacity: 1;
    height: 90%;
}

/* -------------------------------------------------------- */

.send-noti-mdl-member{
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-top: 1px solid lightgray;
}

.send-noti-mdl-member:hover{
    background-color: #ebebeb;
}

.send-noti-mdl-member.chosen{
    background-color: #3393FF;
    color: #FFFFFF;
}