.vm--modal{
    /* overflow: auto; */
    display: flex;
    flex-direction: column;
}

.btn-modal{
    background-color: #FFFFFF !important;
}

.modal-item{
    height: 42px;
}

.modal-title{
    background-color: #E8C77B;
    font-size: 20px;
    font-weight: bold;
}

.profile-pic{
    background-color: #D9D9D9;
    height: 110px;
    border-radius: 4px;
}

.btn.colored{
    background-color: #E8C77B !important;
}
  
.aaa{
    background-color: black !important;
}