.vm--modal {
    /* overflow: auto; */
    display: flex;
    flex-direction: column;
    position: absolute !important;
    top: 5% !important;
    bottom: 5% !important;
    left: 10% !important;
    right: 10% !important;
    height: auto !important;
    width: auto !important;
    background: none;
    box-shadow: none;
    border-radius: 0.375rem;
}

.modal-on-display {
    width: 900px;
    height: 524px;
    background-color: #E8C77B;
    border-radius: 0.375rem 0.375rem 0 0;
}

.btn-modal {
    background-color: #FFFFFF !important;
}

.alivebuttoncolor {
    background-color: #D9D9D9 !important;
}

.modal-item {
    height: 100%;
    outline: none;
    border: 1px solid lightsteelblue;
    margin-right: 10px
}

.modal-title {
    min-height: 50px;
    height: 50px;
    background-color: rgb(174, 214, 241);
    font-size: 20px;
    font-weight: bold;
    border-radius: 0.375rem 0.375rem 0 0;
}

.modal-footer {
    height: 50px;
    background-color: rgb(174, 214, 241);
    border-radius: 0 0 0.375rem;
}

.profile-pic {
    background-color: #D9D9D9;
    height: 200px;
    border-radius: 4px;
}

.add-form-birthorder-label {
    top: 18%;
    left: 10%;
}

.add-form-birthorder-input {
    padding-left: 85px !important;
}

.add-form-bloodtype-label {
    padding-left: 4px;
    padding-top: 5px;
}

.add-form-bloodtype-select {
    padding-left: 30% !important;
}

.add-form-date-label {
    padding-left: 4px;
    padding-top: 9px;
}

.extended-info-tab {
    height: 36px;
    border-radius: 0.375rem 0.375rem 0 0;
}

.extended-info-container {
    background-color: #E8C77B;
    height: calc(100% - 40px);
}

.btn.extended-info-colored {
    background-color: #D0B36E;
}

.extended-job-data-container,
.extended-edu-data-container {
    height: calc(100% - 168px);
    background-color: #FFFFFF;
    border-radius: 0.375rem;
}

.extended-info-container textarea {
    border-radius: 0.375rem;
}

.extended-info-container textarea {
    outline: none;
    border: none;
}

.extended-contact-container {
    border-radius: 0 0.375rem 0.375rem 0.375rem;
}

.extended-job-container,
.extended-edu-container {
    border-radius: 0.375rem;
}

.extended-note-container {
    border-radius: 0.375rem 0 0.375rem 0.375rem;
}

.close-add-form {
    position: absolute;
    right: 0;
}

.close-add-form:hover {
    cursor: pointer;
}

.close-noti-form {
    position: absolute;
    right: 0;
}

.close-noti-form:hover {
    cursor: pointer;
}

.member-info-tab {
    background-color: #E8C77B;
    border-radius: 0.375rem 0 0 0.375rem;
    text-align: center;
    width: 65%;
    cursor: pointer;
}

.member-info-tab {
    background-color: #FFFFFF;
}

.member-info-tab.colored {
    background-color: #E8C77B;
}

.btn.colored {
    background-color: #FFFFFF;
}

.form-label {
    position: absolute;
    left: 8px;
    top: 5px;
    padding: 0 4px;
    color: black;
    transition: all 0.2s ease;
    pointer-events: none;
}

label.form-label-number {
    position: absolute;
    left: 8px;
    top: 5px;
    padding: 0 4px;
    color: black;
    transition: all 0.2s ease;
    pointer-events: none;
}

select:not(:placeholder-shown)~label {
    font-size: 8px;
    top: 0;
    transform: translateY(-30%) scale(1.1);
    background: #fff;
    color: #212529;
}

input:not(:placeholder-shown)~label,
input:focus~label.form-label {
    font-size: 8px;
    top: 0;
    transform: translateY(-30%) scale(1.1);
    background: #fff;
    color: #212529;
}

.active {
    font-size: 8px;
    top: 0;
    transform: translateY(-30%) scale(1.1);
    background: #fff;
    color: #212529;
}

input:not(:placeholder-shown)~label,
input:focus~label.form-label-number {
    font-size: 8px;
    top: 0;
    transform: translateY(-30%) scale(1.1);
    background: #fff;
    color: #212529;
}

.custom-info {
    text-align: center;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.selected {
    background-color: #faebd7;
    color: #a83131 !important;
    border-radius: 5px;

}

.select-menu {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    padding-right: 0px;
    padding-top: 50px;
    height: 100%;
}

.add-head-modal {
    background-color: #FFFFFF;
    border-radius: 0.375rem;
}

.add-article-modal {
    background-color: #FFFFFF;
    border-radius: 0.375rem;
}


.add-album-modal{
    background-color: #FFFFFF;
    border-radius: 0.375rem;
}

.noti-modal-member{
    height: 56px;
    cursor: pointer;
}

.noti-modal-member:hover{
    background-color: #ebebeb;
}

.noti-modal-member:focus{
    background-color: #f2f2f2;
}

.noti-modal-member.chosen{
    background-color: #3393FF;
}
.Container-select-modal .vm--modal {
    top: 16% !important;
}

.compare-modal-container{
    width: 100vh;
    position: absolute;
    inset: 0;
    margin: auto;
}

.compare-modal-btn{
    height:32px;
    bottom: 8px;
    right: 8px;
    background-color: #E8C77B;
    border-radius: 0.375rem;
    padding: 4px 8px;
}

.compare-modal-btn:hover{
    background-color: #E8C77B;
}

.odd-table-row{
    height: 40px;
    align-items: center;
    background-color: #cdcdd9;
}

.even-table-row{
    height: 40px;
    align-items: center;
    background-color: #e9e8ed;
}

.notiSelected{
    background-color: #34c759;
    color: #FFFFFF;
}

.enotiSelected{
    background-color: #3393FF;
    color: #FFFFFF;
}

.sent-sms{
    border-radius: 0.375rem;
    background-color: #34c759;
    color: #fff;
    max-width: 60%;
    padding: 18px 12px 8px 12px;
    margin: 6px 12px;
    min-width: 15%;
}

.sent-time{
    top: 3px;
    font-size: 12px;
}

.cfdel-modal-container .vm--container{
    right: 0;
    bottom: 0;
    margin: auto;
    width: 45%;
    height: 30%;
}

.eventNoti-modal-container .vm--container, .expiredEvent-modal-container .vm--container{
    right: 0;
    bottom: 0;
    margin: auto;
    width: 45%;
    height: 30%;
}

.modal-bg{
    
    background-color: #FFFFFF;
}

.addHead-container .vm--container{
    height: 73%;
    inset: 0;
    margin: auto;
}

.participant-container .vm--container{
    inset: 0;
    margin: auto;
}

.member-container .vm--container{
    inset: 0;
    margin: auto;
    width: 50%;
    height: 80%;
}

/* ------------------------------------------- */
.mdl-container{
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 8% 84% 8%;
}

.mdl-title{
    background-color: rgb(174, 214, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 17px;
}

.mdl-close{
    position: absolute;
    right: 0;
    padding: 8px;
    height: 75%;
    display: flex;
    align-items: center;
}

.mdl-close svg{
    min-height: 20px;
    min-width: 20px;
}

.mdl-item{
    padding-bottom: 8px;
}

.mdl-footer{
    background-color: rgb(174, 214, 241);
}

.cfdel-mdl-container{
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 15% 85%;
}

.cfdel-body{
    display: grid;
    grid-template-rows: 70% 20% 10%;
    height: 100%;
    text-align: center;
}

.cfdel-container .vm--container{
    height: 30%;
    width: 45%;
    inset: 0;
    margin: auto;
}


.mdl-body .phonenuminput::-webkit-outer-spin-button,
.mdl-body .phonenuminput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mdl-body .phonenuminput[type=number] {
  -moz-appearance: textfield;
}

@media screen and (min-width: 1800px){
    .mdl-title{
        font-size: 150% !important;
    }
}