#app {
    font-size: 16px !important;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.container-fluid {
    height: 100%;
    background-color: #bf831526;
}

@font-face {
    font-family: "QuicksandBold";
    src: url(../fonts/static/Quicksand-Bold.ttf) format("truetype");
}

.main-screen {
    height: 100%;
    width: 100%;
}

.list {
    background-color: #3A4B54;
    width: 19% !important;
    padding: 4px;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: 0.3s;
}

.form-select {
    background-image: none;
}

a {
    text-decoration: none;
}

.navbar{
    background-color: #FFFFFF;
}

.page{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page .chosen{
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A4B54;
    color: #FFFFFF;
    border-radius: 50%;
}

.odd{
    background-color: #cdcdd9;
}

.even{
    background-color: #e9e8ed;
}

select{
    cursor: pointer;
}

tr{
    text-align: center;
}

.info-pages-container{
    background-color: #f2f2f2 !important;
    padding: 25px 100px;
    border-radius: 0.575rem;
    position: relative;
}

.logo{
    height: 95px;
    position: absolute;
    bottom: -15px;
}

th{
    background-color: rgb(0, 136, 255);
    text-align: center;
    vertical-align: middle;
}

.help-div .shadowed{
    background-color: #000;
    opacity: 0.8;
}

.help-div .chosen{
    border: 1px solid orangered;
}

.help-note{
    background-color: #000;
    color: #FFFFFF;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 0;
    width: 0;
    z-index: 998;
    text-align: center;
    border-radius: 0.2rem 0 0 0.2rem;
    transition: 0.3s;
    opacity: 0;
}

.help-note.expandHelp{
    height: 45%;
    width: 50%;
    padding: 0 12px;
    opacity: 1;
}

.help-text{
    background-color: #000;
    color: #FFFFFF;
    border-radius: 0.375rem;
    position: absolute;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    height: 56px;
}

.addAlbum-container .vm--container{
    inset: 0;
    margin: auto;
    height: 45%;
    width: 55%;
}

.editAlbum-container .vm--container{
    inset: 0;
    margin: auto;
    height: 70%;
    width: 70%;
}

.fitHeight{
    height: 100% !important;
    width: fit-content !important;
}

.height100{
    height: 100% !important;
}

#tree text{
    cursor: pointer;
}

.ellipsis-text{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block !important;
}