#app {
    font-size: 16px !important;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.container-fluid {
    height: 100vh;
    background-color: #E8C77B;
}

.main-screen {
    height: 100vh;
    width: 57%;
    background-color: #E8C77B;
    flex-grow: 1;
}

.sidebar-list {
    width: 16% !important;
}

.sidebar {
    background-color: #13191C;
    width: 25% !important;
    transition: 0.3s;
}

.list {
    background-color: #3A4B54;
    width: 25% !important;
    height: 100%;
    padding: 8px;
}

.config-sidebar {
    background-color: #D9D9D9;
    width: 0%;
    height: 100%;
    transition: 0.24s;
}

.form-select {
    background-image: none;
}

a {
    text-decoration: none;
}

.navbar{
    background-color: #13191C;
}