.dark .m-5.bg-colored{
    color: #D0D2D6;
    background-color: #6c757d !important;
}

.dark .filter-member, .dark .list-member, .dark .sort-member, .dark .search-member{
    color: #D0D2D6;
    background-color: #6c757d !important;
}