.dark .navbar {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.575);
    font-size: 14px;
}
.dark .navbar-item:hover .navbar-text, .dark .header-selected .navbar-text{
    color: #000 !important;
}
.dark .navbar-extended-content {
    color: #000;
}

.dark .navbar-extended-content:hover {
    background-color: #c9e6ff;
    border-radius: 0.375rem;
}

.dark .navbar-text{
    color: #D0D2D6 !important;
}