.dark.container-fluid {
    background-color: #060818;
}

.dark .container-fluid {
    background-color: #060818;
}

.dark .navbar{
    background-color: #191e3a;
}

.dark .info-pages-container{
    background-color: #6c757d !important;
    color: #D0D2D6;
}