.dark .user-screen{   
    background-color: #060818;
}

.dark .user-screen .func-detail-item{
    height: 70px;
    color: #FFFFFF;
}

.dark .user-screen .family-account{
    background-color: #51585e;
}

.dark .user-screen .acc-list-container{
    color: #FFFFFF;
}